body {
    display: ;
}

.banner {
    width: 1000px;
    height: auto;
}

h1 {
    background-color: black;
    text-align: center;
    color: white;
}

img {
    width: 600px;
    height: auto;
    justify-content: center;
    padding-bottom: 16px;
    
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}