h1 {
    text-align: center;
    color: white;
    background-color: black;
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
}

a {
    width: 700px;
    height: auto;
}
h3 {
    margin-left: 350px;
    
}